<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="#">ANGULAR5</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a routerLink="EventBind">EventBinding</a></li>
      <li><a routerLink="TemplateReferenceVar">TemplateRefVar</a></li>
      <li><a routerLink="StructuralDirective">S_Directives</a></li>
      <li><a routerLink="Parent">Parent</a></li>
      <li><a routerLink="Pipes">Pipes</a></li>
    </ul>
  </div>
</nav>
<div class="Shyamala"> 
    <router-outlet></router-outlet>
 </div>
<app-employeelist></app-employeelist>
<app-employeedetail></app-employeedetail>