<div class="container">
    <h3 class="text-center">pipes works!</h3>
    <h4>{{ name }}</h4>
    <h4>{{ name | lowercase }}</h4>
    <h4>{{ name | uppercase }}</h4>
    <h4>{{ message | titlecase }}</h4>
    <h4>{{ name | slice:3:7}}</h4>
    <h5>{{ person | json }}</h5>
    <h4>{{ 5.678 | number:'1.2-3' }}</h4>
    <h4>{{ 5.678 | number:'3.4-5' }}</h4>
    <h4>{{ 5.978 | number:'3.1-2' }}</h4>
    <h4>{{0.25 | percent }}</h4>
    <h4>{{0.25 | currency }}</h4>
    <h4>{{0.25 | currency:"GBP":'code'}}</h4>
    <h4>{{0.25 | currency:"EUR":'code'}}</h4>
    <h4>{{30000 | currency:"INR":true:'6.4'}}</h4>
    <h4>{{ date }}</h4>
    <h4>{{ date | date }}</h4>
    <h4>{{ date | date:'short'}}</h4>
    <h4>{{ date | date:'shortDate'}}</h4>
    <h4>{{ date | date:'shortTime'}}</h4>
</div>